extends basic_layout 

block content
    h1 Main page
    h3 Sign in to operate with user info (use user email from the list)
    form#mainForm(method='POST' action='/sign-in')
      label(for='emailField') Email: 
      input#emailField(
        type='email'
        name='email'
        placeholder='myemail@mail.com'
        required=''
        minlength=5
        maxlength=48)

      br
      button(type='submit') Sign in
      br
      a(href='/sign-up') Sign up
    p#ErrorMsg(hidden) Error text

    h1 Users list
    ul
      each user in users
        li Name: #{user.firstName} #{user.lastName}, Email: #{user.email}

    //-script(src='../js/sign_in.js') 
