extends basic_layout 

block content
    h1 Main page
    form(method='POST' action='/sign-in')
      label(for='emailField') Email: 
      input#emailField(
        type='email'
        name='email'
        placeholder='myemail@mail.com'
        required=''
        minlength=5
        maxlength=48)

      br
      button(type='submit') Sign in
      br
      a(href='/sign-up') Sign up

    h1 Users data
    ul
      each user in testUsers
        li #{user.firstName} #{user.lastName}
    
    form(enctype='multipart/form-data' method='POST' action='/upload-img')
      p
        input(type='file' name='file' multiple accept='image/*')
        input(type='submit' value='Send file')
